nav{
    border: 1px solid transparent;
    overflow: hidden;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-inline: 0.25em;
    img{
        float: left;
    }
    .left-nav{
        flex: left;
        margin: 0.5rem;
    }
    .right-nav{
        float:right;
        padding: 0.5em;
        border: 0.1rem solid transparent;
        border-radius: 10px;
        color: rgb(102, 92, 102);
        font-weight: bold;

    }
    .right-nav:hover{
        border: 0.1rem solid transparent;
        border-radius: 0;
        border-bottom-color: rgb(102, 92, 102);
        padding: 0.5em;
    }
}